:host {
  --color-primary: rgb(14, 18, 147);
  --color-secondary: rgb(207, 208, 237);
  --color-inprogress: rgb(205, 2, 205);
  --color-inprogress-bg: rgb(239, 198, 239);
  --color-inreview: rgb(12, 161, 224);
  --color-inreview-bg: rgb(224, 241, 248);
  --color-completed: rgb(0, 117, 0);
  --color-completed-bg: rgb(203, 246, 203);
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.task-holder {
  font-family: Exuberant, "Arial Unicode MS", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 0;
}

.heading-tasks {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  position: relative;
  margin-left: 20px;
}

.heading-tasks::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color-primary);
}

/* Status-Specific Styles */
.inprogress .heading-tasks {
  background-color: var(--color-inprogress-bg);
  color: var(--color-inprogress);
}

.inprogress .heading-tasks::before {
  background: var(--color-inprogress);
}

.inreview .heading-tasks {
  background-color: var(--color-inreview-bg);
  color: var(--color-inreview);
}

.inreview .heading-tasks::before {
  background: var(--color-inreview);
}

.completed .heading-tasks {
  background-color: var(--color-completed-bg);
  color: var(--color-completed);
}

.completed .heading-tasks::before {
  background: var(--color-completed);
}

.tasks-container {
  min-height: 100vh;
  height: 100%;
  margin-top: 20px;
  padding: 0px 20px;
  padding-left: 15px;
  border-right: 1px solid var(--color-secondary);
  position: relative;
}

.tasks-container::before {
  content: "";
  background: var(--color-secondary);
  z-index: 10;
  position: absolute;
  top: 0;
  right: -3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.tasks-container::after {
  content: "";
  background: var(--color-secondary);
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: -3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.add-project-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.inprogress .date-box span,
.inprogress.add-project-btn {
  background: var(--color-inprogress-bg);
  color: var(--color-inprogress);
}

.inreview .date-box span,
.inreview.add-project-btn {
  background: var(--color-inreview-bg);
  color: var(--color-inreview);
}

.completed .date-box span,
.completed.add-project-btn {
  background: var(--color-completed-bg);
  color: var(--color-completed);
}
